input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #d38040;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #bc2c2c;
}

.eliminar-btn {
    background-color: #d38040;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.eliminar-btn:hover {
    background-color: #555;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 480px) {
    form {
        width: 100%;
        padding: 10px;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
    }
}
